@import '../../asserts/css/_vars.scss';


#home-box{
    .artical-item{
        max-width: 1024px;
        padding: 24px 12px;
        margin: 24px auto;
    }

    .title{
        font-size: 16px;
        margin: 0 0;
        font-weight: bold;
    }

    .info{
        color: #999;
        margin: 4px 0 12px;
    }

}
