@import './_index.scss';
@import './font.scss';
@import './markdown.scss';

body, ul, li, p{
    margin: 0;
    padding: 0;
}

body, input, textarea{
    color: $font-color-nomal;
    font-size: 13px;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
}

html{
    height: 100%;
}
body{
    min-height: 100%;
    position: relative;
}

a{
    color: $font-color-nomal;
    text-decoration: none;
}

li{
    list-style: none;
}

#app{
    overflow-y: hidden;
    padding-bottom: 24px;
}

.hidden{
    visibility: hidden;
}
