@import '../../asserts/css/_index.scss';

.Header{
    height: 60px;
    line-height: 60px;
    background-color: #2B3A42;
    color: #f2f2f2;

    .icon-menu{
        color: #fff;
        font-size: 24px;
        margin: 0 24px;
        cursor: pointer;
        transition: color .5s ease-in-out;

        &:hover{
            color: darken(#fff, 10%);
        }
    }

    .title{
        text-align: center;
        font-size: 24px;
    }
}
